@import '../../styles/variable.scss';
.day_info {
  max-width: 400px;
  padding: 20px 20px 20px 18px;
  width: 100%;
  background: $lite-background;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}
