@import '../../styles/variable.scss';

.day_info {
  position: relative;
  max-width: 750px;
  padding: 20px 20px 20px 18px;
  width: 100%;
  margin-left: 50px;
  background: var(#{--component-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
}
