@import '../../styles/variable.scss';

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  background-color: $light-background;
  box-shadow: $box-shadow;
  border-radius: 0 0 $border-radius $border-radius;
}
