@import '../../styles/variable.scss';

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: var(#{--card-background-default});
  width: 149px;
  padding: 13px 11px;
  transition: 0.3s;
  cursor: pointer;

  .day, .temp_day {
    font-size: 18px;
    color: var(#{--text-color-default});
  }

  .date {
    font-size: 14px;
    color: $grey-color;
    margin: 7px 0 12px;
  }

  .icon {
    width: 48px;
    height: 48px;
    margin-bottom: 13px;
  }

  .temp_night, .info {
    font-size: 13px;
    color: $grey-color;
  }

  .temp_night {
    margin-bottom: 6px;
  }

  .info {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover {
    box-shadow: var(#{--card-shadow-default});
  }
}

